In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_excel("../data/biostocks.xlsx", parse_dates=True, index_col="Dates")

In [8]:
df

,DJI Index,SPX Index,NBI Index,SPSIBI Index,PFE US Equity,MRNA US Equity,JNJ US Equity
Dates,,,,,,,
2020-01-02,28868.80,3257.85,3763.05,7345.74,37.1027,19.23,145.97
2020-01-03,28634.88,3234.85,3715.30,7249.25,36.9037,18.89,144.28
2020-01-06,28703.38,3246.28,3743.44,7316.06,36.8563,18.13,144.10
2020-01-07,28583.68,3237.18,3745.15,7323.97,36.7330,17.78,144.98
2020-01-08,28745.09,3253.05,3778.81,7422.49,37.0269,17.98,144.96
...,...,...,...,...,...,...,...
2021-11-16,36142.22,4700.90,4828.50,9676.96,49.6000,234.28,162.67
2021-11-17,35931.05,4688.67,4824.35,9548.99,50.8700,242.23,163.28
2021-11-18,35870.95,4704.54,4807.69,9503.61,51.4100,251.41,162.40
2021-11-19,35601.98,4697.96,4832.56,9478.35,50.8000,263.78,162.89
2021-11-22,35619.25,4682.94,4800.00,9261.98,51.2000,282.69,159.70